In [6]:
import pandas as pd
df = pd.read_csv('data/dirtydata.csv')

In [2]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [4]:
x= df['Duration'].mode()[0]

In [5]:
df.loc[7,'Duration'] = x

In [6]:
df.loc[7]

Duration              60
Date        '2020/12/08'
Pulse                104
Maxpulse             134
Calories           253.3
Name: 7, dtype: object

In [7]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         60  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [20]:
 for i in df.index:
    print('The Index is',i)
    print(df.loc[i,'Duration'])
    print('=========== \n')
    if df.loc[i,'Duration'] == 60:
         df.loc[i,'Duration']=50
        
df

The Index is 0
50
===========

The Index is 1
50
===========

The Index is 2
50
===========

The Index is 3
45
===========

The Index is 4
45
===========

The Index is 5
50
===========

The Index is 6
50
===========

The Index is 7
50
===========

The Index is 8
30
===========

The Index is 9
50
===========

The Index is 10
50
===========

The Index is 11
50
===========

The Index is 12
50
===========

The Index is 13
50
===========

The Index is 14
50
===========

The Index is 15
50
===========

The Index is 16
50
===========

The Index is 17
50
===========

The Index is 18
45
===========

The Index is 19
50
===========

The Index is 20
45
===========

The Index is 21
50
===========

The Index is 22
45
===========

The Index is 23
50
===========

The Index is 24
45
===========

The Index is 25
50
===========

The Index is 26
50
===========

The Index is 27
50
===========

The Index is 28
50
===========

The Index is 29
50
===========

The Index is 30
50
===========

The Index is 31
50
===========

    Duration          Date  Pulse  Maxpulse  Calories
0         50  '2020/12/01'    110       130     409.1
1         50  '2020/12/02'    117       145     479.0
2         50  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         50  '2020/12/06'    102       127     300.0
6         50  '2020/12/07'    110       136     374.0
7         50  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         50  '2020/12/10'     98       124     269.0
10        50  '2020/12/11'    103       147     329.3
11        50  '2020/12/12'    100       120     250.7
12        50  '2020/12/12'    100       120     250.7
13        50  '2020/12/13'    106       128     345.3
14        50  '2020/12/14'    104       132     379.3
15        50  '2020/12/15'     98       123     275.0
16        50  '2020/12/16'     98       120     215.2
17        50  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        50  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        50  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        50  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        50  '2020/12/25'    102       126     334.5
26        50      20201226    100       120     250.0
27        50  '2020/12/27'     92       118     241.0
28        50  '2020/12/28'    103       132       NaN
29        50  '2020/12/29'    100       132     280.0
30        50  '2020/12/30'    102       129     380.3
31        50  '2020/12/31'     92       115     243.0

In [23]:
df = pd.read_csv('data/dirtydata.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [25]:
 for i in df.index:
    print('The Index is',i)
    if df.loc[i,'Duration'] > 60:
        df.drop(i,inplace=True)
#     if df.loc[i,'Duration'] == 60:
#          df.loc[i,'Duration']=50
df

The Index is 0
The Index is 1
The Index is 2
The Index is 3
The Index is 4
The Index is 5
The Index is 6
The Index is 7
The Index is 8
The Index is 9
The Index is 10
The Index is 11
The Index is 12
The Index is 13
The Index is 14
The Index is 15
The Index is 16
The Index is 17
The Index is 18
The Index is 19
The Index is 20
The Index is 21
The Index is 22
The Index is 23
The Index is 24
The Index is 25
The Index is 26
The Index is 27
The Index is 28
The Index is 29
The Index is 30
The Index is 31

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [34]:
df = pd.read_csv('data/dirtydata.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [35]:
 for i in df.index:
    print('The Index is',i)
    if df.loc[i,'Duration'] > 60:
        df.drop(i,inplace=True)

The Index is 0
The Index is 1
The Index is 2
The Index is 3
The Index is 4
The Index is 5
The Index is 6
The Index is 7
The Index is 8
The Index is 9
The Index is 10
The Index is 11
The Index is 12
The Index is 13
The Index is 14
The Index is 15
The Index is 16
The Index is 17
The Index is 18
The Index is 19
The Index is 20
The Index is 21
The Index is 22
The Index is 23
The Index is 24
The Index is 25
The Index is 26
The Index is 27
The Index is 28
The Index is 29
The Index is 30
The Index is 31

In [36]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [37]:
df.reset_index(drop=True,inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         30  '2020/12/09'    109       133     195.1
8         60  '2020/12/10'     98       124     269.0
9         60  '2020/12/11'    103       147     329.3
10        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/13'    106       128     345.3
13        60  '2020/12/14'    104       132     379.3
14        60  '2020/12/15'     98       123     275.0
15        60  '2020/12/16'     98       120     215.2
16        60  '2020/12/17'    100       120     300.0
17        45  '2020/12/18'     90       112       NaN
18        60  '2020/12/19'    103       123     323.0
19        45  '2020/12/20'     97       125     243.0
20        60  '2020/12/21'    108       131     364.2
21        45           NaN    100       119     282.0
22        60  '2020/12/23'    130       101     300.0
23        45  '2020/12/24'    105       132     246.0
24        60  '2020/12/25'    102       126     334.5
25        60      20201226    100       120     250.0
26        60  '2020/12/27'     92       118     241.0
27        60  '2020/12/28'    103       132       NaN
28        60  '2020/12/29'    100       132     280.0
29        60  '2020/12/30'    102       129     380.3
30        60  '2020/12/31'     92       115     243.0

In [1]:
import pandas as pd
data = pd.read_csv("data/supermarket_sales.csv")
data

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.49,03-02-2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.432,02-09-2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.111,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.299,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [2]:
data.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                       object
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   object
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [5]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.22,03-08-2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [6]:
data.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.49,03-02-2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.432,02-09-2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.111,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.299,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [10]:
#  To calculate the mean of gross income

data['gross income'].mean()

15.379369000000002

In [11]:
#  To calculate the median of gross income
data['gross income'].median()

12.088000000000001

In [14]:
#mode of gender

data['Gender'].mode()

0    Female
dtype: object

In [18]:
data['Gender'].value_counts()

Female    501
Male      499
Name: Gender, dtype: int64

In [21]:
data['Gender'].nunique()

2

In [23]:
data.describe(include='O')

,Invoice ID,Branch,City,Customer type,Gender,Product line,Total,Date,Time,Payment
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,3,3,2,2,6,990,89,506,3
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,216.846,02-07-2019,19:48,Ewallet
freq,1,340,340,501,501,178,2,20,7,345

In [24]:
#create a function
 #arg:data
    
    -shape
    -dtype
    -head
    -tail
    -info
    -describe
    -null

In [28]:
# Total Gross Income
totalGrossIncome= data['gross income'].sum()
print('Total Gross Incomes is :',totalGrossIncome)

Total Gross Incomes is : 15379.368999999999

In [32]:
#Which is the most commonly used payment type
payment = data['Payment'].mode()[0]
print('Commonly used payment type is: ',payment)

Commonly used payment type is:  Ewallet

In [37]:
# f - formatted string interval
# what is the average unit price of products?

average = data['Unit price'].mean()
print(f'Average {average}')

Average 55.67212999999998

In [40]:
#what is the standard deviation for unit price
data['Unit price'].std()

26.494628347919768

In [49]:
#what is the total number of sales? == number of invoices

#data['Invoice ID'].nunique()
#data['Invoice ID'].count()
#data['Invoice ID'].shape[0]
#data['Invoice ID'].size

1000

In [47]:
#what are the different Product types
data['Product line'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [51]:
# Problem 2
data = pd.read_csv("data/adult.csv")
data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [53]:
#used to find null value
data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [54]:
#Average hours per week
data['hours-per-week'].mean()

40.422382375824085

In [56]:
# Average hours worked by males and females
data.groupby('gender')['hours-per-week'].mean()

gender
Female    36.400692
Male      42.416845
Name: hours-per-week, dtype: float64

In [27]:
import pandas as pd

def function(data):
    data.head()
    data.tail()
    data.shape
    data.describe(include='O')
    data.isnull().sum()
data=pd.read_csv("data/supermarket_sales.csv")
function(data)